.up{
    width: 100%;
    height: 7vw;
    background-color: white;
    /* margin-top: 10vw; */
    padding-top: .5vw;
}

.header{
    font-size: 1.8vw;
    margin-left: 7vw;
}

.low{
    width: 100%;
    height: 3.8vw;
    /* background-color: crimson; */
    padding-left: 6vw;
    display: flex;
    padding-top: .3vw;
}

.btn{
    padding: .2vw 1.2vw;
    width: fit-content;
    height: 2.7vw;
    margin-left: 1vw;
    border: 1px solid gray;
    color: gray;
    border-radius: 5px;
    background: none;
    background-color: #fafbfc;
}

.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 300ms;
}